<div align="center">
  <header class="waiting_room">
    <h1>Waiting Room</h1><hr><br>
  </header>
  <h3>You can send invites with your room code number: <%= @room_code %></h3>
  <h3>Username: <%= @username %></h3>
  <br>
  <h3>Players in Room</h3>

  <% if @all_players %>
    <% @all_players.each do |player| %>
      <%= player[:username] %>
    <% end %>
  <% end %>

  <% if current_player.permissions == 'host' %>
    <%= button_to "Start Game", start_game_path, method: :get, params: { "waiting_room_code": @room_code } %>
  <% end %>
</div>
