<div align="center">
  <header class="login_root_header">
    <h1>Welcome to Telepic, <%= current_player.email %>!</h1><hr><br>
      <div id='login_buttons'>
        <%= button_to "Create Waiting Room", new_waiting_room_path, method: :get %><br>
        <%= button_to "Join Game" %><br>
        <%= button_to "Log Out", logout_path, method: :delete %><br>
      </div>
  </header>
</div>
